<div class="contariner-fluid">
  <div class="row">
    <div class="col-lg-1">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-xl-11" style="margin-top: 5px">
      <app-header></app-header>
      <marquee width="100%" height="200px" class="marquee"
        ><h3 style="color: green">
          Welcome To The Selling For Success In Direct Dashboard
        </h3></marquee
      >
      <button routerLink="/card" (click)="startExam()">Start Exam</button>
    </div>
  </div>
</div>
