.leftsidebar{
    list-style: none;
  
   height: 100vh;
   background-color: red;
 
    }
    .leftsidebar li{
        margin-top: 0px;
        margin-left: -22px; 
        padding: 15px;
    }
    .col-lg-1{
        margin: 0;
        padding: 0;
        width: 5%;
        background-color: red;
       
    }
    /* .col-lg-1{
        margin: 0;
        padding: 0;
        width: 5%;
        background-color: red;
       
    } */ 