

<div class="contariner-fluid ">
    <div class="row">
        <div class="col-lg-1">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-xl-11" style="margin-top: 5px;">
            
            <app-header></app-header>
           <div class="container-fluid Open-nav ">
            <div class="row">
                <div class="col">
                    <button class="btn-style">Solution</button>
                </div> 
                <div class="col">
                    <button class="btn-style" style="background-color: red; color: white;">Differentiate</button>
                </div>
                <div class="col">
                    <button class="btn-style">Reconnect to Driver</button>
                </div>
            </div>
           </div>
           <div class="present-solution-tab">
            <button class="btn-style" routerLink="/present-solution-differntiate-comman-standards" >Comman Standards</button>
            <button class="btn-style" style="margin-left: 10px;">Why You</button>
            <button class="btn-style" style="margin-left: 10px;">Evidence</button>
           </div>
          
        </div>
    </div>
  
  </div>
       