<div class="contariner-fluid">
  <div class="row">
    <div class="col-lg-1">
      <!-- <app-side-bar></app-side-bar> -->
    </div>
    <div class="col-xl-11" style="margin-top: 5px">
      <!-- <app-header></app-header> -->
      <marquee width="100%" height="200px" class="marquee"
        ><h3 style="color: green">WELCOME To Stage-II Dashboard</h3></marquee
      >

      <div class="container groupCard">
        <div class="card cards text-center" style="width: 15rem">
          <div class="card-header">1</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">A</li>
            <li class="list-group-item cardBody">
              <a href="/develop-needs">Develop The Gap</a>
            </li>
            <li style="list-style-type: none"></li>
          </ul>
        </div>
        <div class="card cards text-center" style="width: 15rem">
          <div class="card-header">2</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">A</li>
            <li class="list-group-item cardBody">
              <a href="/decisionToMove">Decision To Move</a>
            </li>
            <li style="list-style-type: none"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
