<ul class="leftsidebar">
  <li>
    <a title="Dashboard" [routerLink]="['/budget-dashboard']"
      ><img src="./Images/home.png" alt="" width="20px" height="20px"
    /></a>
  </li>
  <li>
    <a href="" title="Help"
      ><img src="./Images/help.jpg" alt="" width="20px" height="20px"
    /></a>
  </li>
  <li>
    <a href="" download="USER_GUIDE.pdf" title="USER GUIDE"
      ><img src="./Images/msg.png" alt="" width="20px" height="20px"
    /></a>
  </li>
  <li>
    <a href="" download="BUDGET_FAQ.pdf" title="BUDGET_FAQ"
      ><img src="./Images/profile.png" alt="" width="20px" height="20px"
    /></a>
  </li>
</ul>
