<div class="contariner-fluid">
  <div class="row">
    <div class="col-lg-1">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-xl-11" style="margin-top: 5px">
      <app-header></app-header>
      <div class="container-fluid Open-nav">
        <div class="row">
          <div class="col">
            <button
              class="btn-style"
              routerLink="/tab"
              [queryParams]="{ component: 'Reason to Move' }"
            >
              Reason to Move
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

