* {
  margin: 0;
  padding: 0;
}
.col-lg-1 {
  width: 5% !important;
}
.col-xl-11 {
  width: 95% !important;
}
.addQuestionBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.tableStyle {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  justify-content: centers;
  text-align: center;
}
.examheading{
  margin-left: 250px;
}
.hrtag{
  margin-left: 250px;
}
.addquestion{
  margin-left: 250px;
}